<p id="notice"><%= notice %></p>

<p>
  <strong>Water:</strong>
  <%= @plant.water %>
</p>

<p>
  <strong>Fertilize:</strong>
  <%= @plant.fertilize %>
</p>

<p>
  <strong>Prune:</strong>
  <%= @plant.prune %>
</p>

<p>
  <strong>Repot:</strong>
  <%= @plant.repot %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>

<p>
  <strong>Img:</strong>
  <%= @plant.img %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
